<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IRPF - Cadastro de Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="/cadastro">Cadastro</a>
    <a class="navbar-brand" href="/calculaImposto">Calcula Impostos</a>
</nav>
<br><br><br>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Contribuinte</strong>
    </div>
    <div class="panel-body">
        <!--/*@thymesVar id="Pessoa" type="br.pucrs.irpf.model.Pessoa"*/-->
        <form class="form-horizontal" th:object="${Pessoa}" th:action="@{/pessoa}" method="post" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div th:if="${msg != null}">
                        <div class="alert alert-danger" role="alert">
                            <span class="message message--error" th:text="${msg}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" autofocus="autofocus" id="nome" name="nome" placeholder="Nome" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>CPF</label>
                            <input type="text" class="form-control input-sm" maxlength="150" id="cpf" name="cpf" placeholder="CPF"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Idade</label>
                            <input type="number" class="form-control input-sm" maxlength="150" id="idade" name="idade" placeholder="Idade"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Dependentes</label>
                            <input type="number" class="form-control input-sm" maxlength="150" id="numeroDependentes" name="numeroDependentes" placeholder="Numero de dependentes"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Tipo imposto</label>
                            <input type="text" class="form-control input-sm" maxlength="150" id="tipoImposto" name="tipoImposto" placeholder="Tipo de imposto (C - completa ou S - simplificada)"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Total Rendimentos</label>
                            <input type="number" class="form-control input-sm" maxlength="150" id="totalRendimentos" name="totalRendimentos" placeholder="Total de rendimentos"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Contribuição</label>
                            <input type="number" class="form-control input-sm" maxlength="150" id="contribuicaoPrevidencial" name="contribuicaoPrevidencial" placeholder="Contribuição Previdencial"/>
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-1">-->
<!--                            <label>Desconto</label>-->
<!--                            <input type="number" class="form-control input-sm" th:field="*{desconto}" id="desconto" name="desconto" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-1">-->
<!--                            <label>Imposto</label>-->
<!--                            <input type="number" class="form-control input-sm" id="imposto" name="imposto" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-1">-->
<!--                            <label>Total Pagar</label>-->
<!--                            <input type="number" class="form-control input-sm" id="totalPagar" name="totalPagar" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>