<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>IRPF - Mario Specht</title>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="/cadastro">Cadastro</a>
    <a class="navbar-brand" href="/calculaImposto">Calcula Impostos</a>
</nav>

<main role="main" class="panel-default container">
<br><br><br><br>
    <div class="main starter-template">
        <h1>IRPF FACIN 2019</h1>
        <h2>
            <span th:text="'Olá, ' + ${message}"></span>
        </h2>
    </div>

<!--    <ol>-->
<!--        <li th:each="task : ${tasks}" th:text="${task}"></li>-->
<!--    </ol>-->

</main>
<!-- /.container -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>